@import "./global/global.css";
@import "./ultilidades/tipografia.css";
@import "./ultilidades/cores.css";

@import "./global/header.css";
@import "./global/footer.css";

    /*ultilidades*/
@import "./ultilidades/componentes.css";

/*home*/
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";
/*Bicicletas*/
@import "./bicicletas/bicicletas-listas.css";
@import "./bicicletas/bicicletas.css";

/*Bicicleta*/
@import "./bicicleta/bicicleta.css";

/*Seguros*/
@import "./seguros/seguros.css";
@import "./seguros/perguntas.css";
@import "./seguros/vantagens.css";

/*Termos*/
@import "./termos/termos.css";





